
<ol>
  <% @lists.each do |list| %>
    <li><%= list.title%>
    <br>
    <%= list.date%></li>
    <%= link_to "Add content", new_list_list_item_path(list.id ) %>
  <% end %>
</ol>
<h1 class='subtitle'>JS organizer</h1>
<br>

<button id='lists-data'>Get lists</button>
<div id='js-lists'></div>
<br>
<br>

<button id='js-new-list'>New List</button>
<div id="new-list-form-div">[form]</div>
